.tt{
    border: #00FF00 1px solid;
}

body{
    font-size: 14px;
    font-family:"微软雅黑";
    overflow-y: scroll;/*y轴滚动*/

}
/*隐藏div的滚动条*/
body::-webkit-scrollbar{
    width:0;
}

.title_main{
    height: 100px;
    width: 100% !important;
    position: relative;
    /*border: #261eff 1px solid;*/
    border-bottom: #aab9c3 1px solid;
}

.plan_main{
    /*height: 500px;*/
    width: 100% !important;
    position: relative;
    /*border: #261eff 1px solid;*/
    padding: 0px !important;
}

.edge_img{
    padding-top: 6px;
    position: relative;
    width: 10%;
    height: auto;
}

.plan_title{
    font-weight: bold;
    font-family:"微软雅黑";
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}
#sim_loading_div{
    display: inline-block;
    margin-left: 10px;
}

#sim_loading{
    color: #FF0000;
    display: none;
}

.progress{
    margin: 10px 10px 10px 10px;
}

.chart_main{
    width: 100% !important;
    position: relative;
    /*border: #261eff 1px solid;*/
    /*padding: 0px !important;*/
    padding: 0px 10px 10px 10px;
}

.chart_item{
    border: solid 1px #aab9c3;
    position: relative;
    /*width: 50%;*/
    height: 50%;
    border-radius: 10px 10px 10px 10px;
}

.table_main{
    width: 100% !important;
    position: relative;
    /*border: #261eff 1px solid;*/
}

.footer_main{
    width: 100% !important;
    position: relative;
    /*border: #261eff 1px solid;*/
}

.foot-bar {
    background-color: white;
    text-align: center;
    /*color: #bc8f8f;*/
    /*position: fixed;*/
    width:100%;
    height:35px;
    bottom: 0px;
    z-index: 2;
    font-family:"微软雅黑";
}

.advices{
    position: absolute;
    right: 0px;
    top: 0px;
}

#ahu_logo{
    float: right;
    padding: 10px 0px 5px 0px;
}

#deakin_logo{
    float: left;
    padding: 10px 0px 5px 30px;
}

#swinburne_logo{
    float: left;
    padding: 25px 0px 5px 5px;
}

#monash_logo{
    float: left;
    padding: 27px 0px 0px 20px;
}

.monash_img{
    position: relative;
    width: 100%;
    padding: 2px 0px 0px 20px;
}

#visit_logo{

    position: relative;
    width: 80%;
    /*height: 80%;*/
    padding: 10px 0px 0px 0px;
}

.bottom-sep{
    position: relative;
    width: 42%;
    border: 1px solid #aab9c3;
    margin-left: 30%;
}

#doc_div{
    font-weight: bold;
    font-family:"微软雅黑";
    font-size: 25px;
    margin-top: 20px;
    color: #666666;
}

#developer_div{
    font-weight: bold;
    font-family:"微软雅黑";
    font-size: 25px;
    margin-top: 20px;
    padding-left: 60px;
    color: #666666;
}

#version_info{
    font-weight: bold;
    font-family:"微软雅黑";
    font-size: 25px;
    margin-top: 20px;
    color: #666666;
}

#user_login{
    font-weight: bold;
    font-family:"微软雅黑";
    font-size: 15px;
    color: #666666;
}

#user_register{
    font-weight: bold;
    font-family:"微软雅黑";
    font-size: 15px;
    color: #666666;
}

#login_div{
    float: right;
    margin-top: 20px;
}

#userinfo_div{
    float: right;
    margin-top: 20px;
}

#username_a{
    color: #000;
}

#plan_add{
    position: relative;
    float: right;
    background-color: #75dbed;
    margin-top: 5px;
    margin-right: 20px;
}

.btns{
    background-color: #FFFFFF !important;
    color: #aab9c3 !important;
}

.output-input {
    width: 120px;
    height: 30px;
    float: left;
    margin-left: 5px;
    border-radius:15px 15px 15px 15px;
    color:#9ca0a6;
}

#lineChartMain{
    position: relative;
    width: 100%;
    height: 100%;
}

#barChartMain{
    position: relative;
    width: 100%;
    height: 100%;
}

#pieChartMain{
    position: relative;
    width: 100%;
    height: 100%;
}

#ganttChartMain{
    position: relative;
    width: 100%;
    height: 100%;
}

#realOperate{
    position: relative;
    float: left;
    margin-left: 10px;
    /*margin-top: 3px;*/
    background-color: #75dbed;
    width:140px;
    height:30px;
    line-height: 1.5;
}

.output_label{
    font-weight: bold;
    font-family:"微软雅黑";
    margin-top: 5px;
}


.output-time{
    position: relative;
    float: right;
    padding-right: 10px;
}

.outputTitle{
    padding: 10px 10px 10px 10px;
}

.output_progress{
    position: relative;
    padding-top: 10px;
    width: 50%;
    display: block;
}

.btn_status_failed{
    width: 20px;
    height: 20px;
    border-radius:10px 10px 10px 10px;
    border: solid 1px #aab9c3;
    background-color: #0000FF;

}

.btn_status_success{
    width: 20px;
    height: 20px;
    border-radius:10px 10px 10px 10px;
    border: solid 1px #aab9c3;
    background-color: #00FF00;
}

.input_odd {
    position: relative;
    width: 100%;
    height:100%;
    border:none;
    background-color: #F2F2F2;
    text-align: center;

}
.input_even {
    position: relative;
    width: 100%;
    height:100%;
    border:none;
    background-color: #FFFFFF;
    text-align: center;
}

/**************plan表格开始****************/
.plan_padding{
    padding: 5px 20px 0px 20px;
}

#plan_table1 thead th{
    position: relative;
    text-align: center;
    /*width: 10%;*/
    /*border: 1px solid red;*/
}

#plan_tbody tr td{
    /*border: 1px solid red;*/
    position: relative;
    height: 50px;
    /*width: 10%;*/
}

#plan_table1{
    margin: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    /*border: 2px #000;*/
}
#plan_table1 tr th:first-child,table tr td:first-child {/*设置table左边边框*/
    border-left: 2px solid #eaeaea;
}

#plan_table1 tr th:last-child,table tr td:last-child {/*设置table右边边框*/
    border-right: 2px solid #eaeaea;
}
#plan_table1 tr td:first-child,
#plan_table1 tr td:nth-child(2),
#plan_table1 tr td:nth-child(3),
#plan_table1 tr td:last-child{/*设置table表格每列底部边框*/
    border-bottom: 2px solid #eaeaea;
}
#plan_table1 tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#plan_table1 tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

#plan_table1 tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#plan_table1 tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#plan_table2{
    margin: 0px 0px 0px 0px;
}

.plan_data_div{
    position: relative;
    width: 100%;
    height: 200px;
    overflow-y: scroll;/*y轴滚动*/
    border: solid 1px #aab9c3;
    border-radius: 0px 0px 10px 10px;
}
.plan_data_div::-webkit-scrollbar{
    width:0;
}
/**************plan表格结束****************/

/**************Standby表格开始****************/
#standby_table1 thead th{
    position: relative;
    width: 12.5%;
    text-align: center;
}

#standby_tbody tr td{
    position: relative;
    width: 12.5%;
    text-align: center;
}

#standby_table1{
    margin: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    /*border: 2px #000;*/
}
#standby_table1 tr th:first-child,table tr td:first-child {/*设置table左边边框*/
    border-left: 2px solid #eaeaea;
}

#standby_table1 tr th:last-child,table tr td:last-child {/*设置table右边边框*/
    border-right: 2px solid #eaeaea;
}
#standby_table1 tr td:first-child,
#standby_table1 tr td:nth-child(2),
#standby_table1 tr td:nth-child(3),
#standby_table1 tr td:last-child{/*设置table表格每列底部边框*/
    border-bottom: 2px solid #eaeaea;
}
#standby_table1 tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#standby_table1 tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

#standby_table1 tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#standby_table1 tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#standby_table2{
    margin: 0px 0px 0px 0px;
}

.standby_data_div{
    position: relative;
    width: 100%;
    height: 300px;
    overflow-y: scroll;/*y轴滚动*/
    border: solid 1px #aab9c3;
    border-radius: 0px 0px 10px 10px;
}
.standby_data_div::-webkit-scrollbar{
    width:0;
}
/**************Standby表格结束****************/

/**************Running表格开始****************/
#running_table1 thead th{
    position: relative;
    width: 10%;
    text-align: center;
}

#running_tbody tr td{
    position: relative;
    width: 10%;
    text-align: center;
}

#running_table1{
    margin: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    /*border: 2px #000;*/
}
#running_table1 tr th:first-child,table tr td:first-child {/*设置table左边边框*/
    border-left: 2px solid #eaeaea;
}

#running_table1 tr th:last-child,table tr td:last-child {/*设置table右边边框*/
    border-right: 2px solid #eaeaea;
}
#running_table1 tr td:first-child,
#running_table1 tr td:nth-child(2),
#running_table1 tr td:nth-child(3),
#running_table1 tr td:last-child{/*设置table表格每列底部边框*/
    border-bottom: 2px solid #eaeaea;
}
#running_table1 tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#running_table1 tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

#running_table1 tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#running_table1 tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#running_table2{
    margin: 0px 0px 0px 0px;
}

.running_data_div{
    position: relative;
    width: 100%;
    height: 300px;
    overflow-y: scroll;/*y轴滚动*/
    border: solid 1px #aab9c3;
    border-radius: 0px 0px 10px 10px;
}
.running_data_div::-webkit-scrollbar{
    width:0;
}
/**************Running表格结束****************/

/**************Successed表格开始****************/
#successed_table1 thead th{
    position: relative;
    width: 10%;
    text-align: center;
}

#successed_tbody tr td{
    position: relative;
    width: 10%;
    text-align: center;
}

#successed_table1{
    margin: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    /*border: 2px #000;*/
}
#successed_table1 tr th:first-child,table tr td:first-child {/*设置table左边边框*/
    border-left: 2px solid #eaeaea;
}

#successed_table1 tr th:last-child,table tr td:last-child {/*设置table右边边框*/
    border-right: 2px solid #eaeaea;
}
#successed_table1 tr td:first-child,
#successed_table1 tr td:nth-child(2),
#successed_table1 tr td:nth-child(3),
#successed_table1 tr td:last-child{/*设置table表格每列底部边框*/
    border-bottom: 2px solid #eaeaea;
}
#successed_table1 tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#successed_table1 tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

#successed_table1 tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#successed_table1 tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#successed_table2{
    margin: 0px 0px 0px 0px;
}

.successed_data_div{
    position: relative;
    width: 100%;
    height: 300px;
    overflow-y: scroll;/*y轴滚动*/
    border: solid 1px #aab9c3;
    border-radius: 0px 0px 10px 10px;
}
.successed_data_div::-webkit-scrollbar{
    width:0;
}
/**************Successed表格结束****************/

/**************Failed表格开始****************/
#failed_table1 thead th{
    position: relative;
    width: 10%;
    text-align: center;
}

#failed_tbody tr td{
    position: relative;
    width: 10%;
    text-align: center;
}

#failed_table1{
    margin: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    /*border: 2px #000;*/
}
#failed_table1 tr th:first-child,table tr td:first-child {/*设置table左边边框*/
    border-left: 2px solid #eaeaea;
}

#failed_table1 tr th:last-child,table tr td:last-child {/*设置table右边边框*/
    border-right: 2px solid #eaeaea;
}
#failed_table1 tr td:first-child,
#failed_table1 tr td:nth-child(2),
#failed_table1 tr td:nth-child(3),
#failed_table1 tr td:last-child{/*设置table表格每列底部边框*/
    border-bottom: 2px solid #eaeaea;
}
#failed_table1 tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#failed_table1 tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

#failed_table1 tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#failed_table1 tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#failed_table2{
    margin: 0px 0px 0px 0px;
}

.failed_data_div{
    position: relative;
    width: 100%;
    height: 300px;
    overflow-y: scroll;/*y轴滚动*/
    border: solid 1px #aab9c3;
    border-radius: 0px 0px 10px 10px;
}
.failed_data_div::-webkit-scrollbar{
    width:0;
}
/**************Failed表格结束****************/

/**************Detail表格开始****************/
#detail_table1 thead th{
    position: relative;
    /*width: 7.14%;*/
    /*border:1px red solid;*/
}

#detail_tbody tr td{
    position: relative;
    /*width: 7.14%;*/
    /*border:1px red solid;*/
}

.detail_job{
    width: 5%;
    text-align: center !important;
}

.detail_task{
    width: 5%;
    text-align: center !important;
}

.detail_simStus{
    width: 7%;
    text-align: center !important;
}

.detail_resource{
    width: 10%;
    text-align: center !important;
}

.detail_vm{
    width: 5%;
    text-align: center !important;
}

.detail_simTime{
    width: 7%;
    text-align: center !important;
}

.detail_simCost{
    width: 7%;
    text-align: center !important;
}

.detail_start{
    width: 7%;
    text-align: center !important;
}

.detail_finish{
    width: 7%;
    text-align: center !important;
}

.detail_depth{
    width: 5%;
    text-align: center !important;
}

.detail_realTime{
    width: 7%;
    text-align: center !important;
}

.detail_realCost{
    width: 7%;
    text-align: center !important;
}

.detail_parents{
    width: 14%;
    text-align: center !important;
}

.detail_realStus{
    width: 7%;
    text-align: center !important;
}

#detail_table1{
    margin: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    /*border: 2px #000;*/
}
#detail_table1 tr th:first-child,table tr td:first-child {/*设置table左边边框*/
    border-left: 2px solid #eaeaea;
}

#detail_table1 tr th:last-child,table tr td:last-child {/*设置table右边边框*/
    border-right: 2px solid #eaeaea;
}
#detail_table1 tr td:first-child,
#detail_table1 tr td:nth-child(2),
#detail_table1 tr td:nth-child(3),
#detail_table1 tr td:last-child{/*设置table表格每列底部边框*/
    border-bottom: 2px solid #eaeaea;
}
#detail_table1 tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#detail_table1 tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

#detail_table1 tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#detail_table1 tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#detail_table2{
    margin: 0px 0px 0px 0px;
}

.detail_data_div{
    position: relative;
    width: 100%;
    height: 300px;
    overflow-y: scroll;/*y轴滚动*/
    border: solid 1px #aab9c3;
    border-radius: 0px 0px 10px 10px;
}
.detail_data_div::-webkit-scrollbar{
    width:0;
}
/**************Detail表格结束****************/



.img_cloud{
    width: 21px;
    height: 31px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("/images/cloudServer.png");
    display: inline-block;
}

.img_fog{
    width: 23px;
    height: 30px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("/images/fogServer.png");
    display: inline-block;
}

.img_mobile{
    width: 18px;
    height: 30px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("/images/mobile.png");
    display: inline-block;
}

.cloud_topnum{
    position: relative;
    float: right;
    color: #FFFFFF;
    background-color: #FF5722;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: -10px;
    margin-top: -10px;
    padding-top: 0px;
    /*padding-left: 5px;*/
    /*padding-bottom: 2px;*/
    text-align: center;
    font-size: 2px;
}

.fog_topnum{
    position: relative;
    float: right;
    color: #FFFFFF;
    background-color: #FF5722;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: -10px;
    margin-top: -10px;
    /*padding-left: 5px;*/
    /*padding-bottom: 5px;*/
    text-align: center;
}

.mobile_topnum{
    position: relative;
    float: right;
    color: #FFFFFF;
    background-color: #FF5722;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: -10px;
    margin-top: -10px;
    /*padding-left: 5px;*/
    /*padding-bottom: 5px;*/
    text-align: center;
}

#real_loading_div{
    float: left;
    /*margin-left: 15px;*/
    margin-top: 7px;
}


#operate_percent{
    margin-top: 7px;
    margin-left: 20px;
}

#real_loading{
    color: #FF0000;
    display: none;
    /*display: block;*/

}


/*plan表格中的每一列*/
.plan_no{
    text-align: center;
    width: 5%;
}

.plan_name{
    text-align: center;
    width: 8%;
}

.plan_mec{
    text-align: center;
    width: 12%;
}

.plan_strategy{
    text-align: center;
    width: 10%;
}

.plan_algo{
    text-align: center;
    width: 20%;
}

.plan_opti{
    text-align: center;
    width: 10%;
}

.plan_deadline{
    text-align: center;
    width: 5%;
}

.plan_workflow{
    text-align: center;
    width: 10%;
}

.plan_editTime{
    text-align: center;
    width: 10%;
}

.plan_action{
    text-align: center;
    width: 10%;
}

/*
.testMain{
    width: 100% !important;
    position: relative;
    height: 700px;
    !*border: 1px red solid;*!

}

#testChartMain{
     position: relative;
     width: 100%;
     height: 100%;
     !*border: 1px solid #00FF00;*!
 }*/
